@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: grey;
}

li {
  list-style-type: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:10px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: grey;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.left-links, .right-links{
  display:flex;
  gap:20px;
  padding: 0;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  background-color: #eeeeee;
}